/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
@media (max-width: 568px) {
  #navbar {
    display: flex;
  }
}
#navbar img {
  margin: 0 2%;
  width: 15%;
  font-size: 10rem;
}
@media (max-width: 568px) {
  #navbar img {
    width: 25%;
    margin: 2%;
  }
}
#navbar .nav-tags {
  text-align: center;
  width: 60%;
}
@media (max-width: 568px) {
  #navbar .nav-tags {
    width: 100%;
    padding: 2% 0;
    align-items: baseline;
  }
}
#navbar a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: 'Bitter', serif;
  padding: 5%;
  font-size: 1.8rem;
}
@media (max-width: 568px) {
  #navbar a {
    padding: 1%;
  }
}
#navbar a:hover {
  background: #242943;
  color: white;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(141, 130, 196, 0.8), rgba(141, 130, 196, 0.8)), url('../images/about-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15rem;
}
@media (max-width: 568px) {
  header {
    padding: 10rem;
    height: 100px;
  }
}
header h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 3px solid white;
}
header p {
  font-weight: bold;
  text-align: center;
  margin: 2%;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  color: white;
}
#bottom {
  display: flex;
}
#middle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #242943;
  color: white;
}
#middle section {
  padding: 2%;
}
#middle h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  padding-bottom: 1%;
  text-transform: uppercase;
  font-weight: bold;
}
#middle p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 1%;
}
#bottom-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3352;
}
@media (max-width: 568px) {
  #bottom-top {
    flex-direction: column;
    padding: 2%;
  }
}
#bottom-top div {
  width: 50%;
  padding: 2%;
  line-height: 1.5;
}
@media (max-width: 568px) {
  #bottom-top div {
    width: 100%;
  }
}
#bottom-top h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  padding-bottom: 1%;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding-bottom: 2%;
}
#bottom-top p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1%;
  color: white;
}
#bottom-top img {
  width: 50%;
}
@media (max-width: 568px) {
  #bottom-top img {
    width: 100%;
  }
}
#bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #242943;
  color: white;
}
#bottom section {
  padding: 2%;
  padding-bottom: 0;
}
#bottom h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  padding-bottom: 1%;
  text-transform: uppercase;
  font-weight: bold;
}
#bottom p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 1%;
}
#bottom .about-team {
  background: #363b59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
}
#bottom .about-team .team-section1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1%;
  width: 100%;
}
#bottom .about-team .team-section1 .person {
  padding: 1%;
  width: 30%;
}
#bottom .about-team .team-section1 .person h4 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2%;
  font-family: 'Nunito', sans-serif;
}
#bottom .about-team .team-section1 .person p {
  font-size: 1.5rem;
  text-align: center;
}
#bottom .about-team .team-section1 .person img {
  border-radius: 5px;
  width: 10rem;
  height: 40rem;
  width: 100%;
}
#bottom .about-team .team-section2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1%;
  width: 100%;
}
#bottom .about-team .team-section2 .person {
  padding: 1%;
  width: 30%;
}
#bottom .about-team .team-section2 .person h4 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2%;
  font-family: 'Nunito', sans-serif;
}
#bottom .about-team .team-section2 .person p {
  font-size: 1.5rem;
  text-align: center;
}
#bottom .about-team .team-section2 .person img {
  width: 10rem;
  height: 40rem;
  width: 100%;
  border-radius: 5px;
}
.button {
  background: #2a2f4a;
  border: 2px solid white;
  margin: 2%;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  padding: 0.5%;
  color: white;
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 568px) {
  footer {
    flex-direction: column;
  }
}
footer .copyright {
  width: 50%;
  background: #363b59;
  padding: 2%;
}
@media (max-width: 568px) {
  footer .copyright {
    padding: 2%;
    width: 100%;
    text-align: center;
  }
}
footer .copyright p {
  color: gray;
  font-family: 'Bitter', serif;
  font-size: 1.6rem;
}
footer .icons {
  width: 50%;
  color: white;
  background: #363b59;
  padding: 2%;
  height: 16px;
}
@media (max-width: 568px) {
  footer .icons {
    width: 100%;
  }
}
footer .icons .a-tags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .icons .a-tags a {
  text-decoration: none;
  color: white;
  width: 20%;
  font-size: 1.6rem;
  text-align: center;
}
