#middle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #242943;
    color: white;
    section{
        padding: 2%;
    }   
        h3{
            font-family: 'Nunito', sans-serif;
            font-size: 2rem;
            padding-bottom: 1%;
            text-transform: uppercase;
            font-weight: bold;
        }
        p{
            font-family: 'Nunito', sans-serif;
            font-size: 1.5rem;
            line-height: 1.5;
            padding-top: 1%; 
    }
}

#bottom-top{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #363b59;
    border: 2px solid red;
    @media @phone {
        flex-direction: column;
        padding: 2%;
    }
    div{
        width: 50%;
        padding: 2%;
        line-height: 1.5;
        @media @phone {
            width: 100%;
        }
    }
    h3{
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        padding-bottom: 1%;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        padding-bottom: 2%;
    }
    p{
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        padding-bottom: 1%; 
        color: white;
    }
    img{
        width:50%;
        @media @phone {
            width: 100%;
        }
    }
}

#bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #242943;
    color: white;
    section{
        padding: 2%;
        padding-bottom: 0;
    }   
        h3{
            font-family: 'Nunito', sans-serif;
            font-size: 2rem;
            padding-bottom: 1%;
            text-transform: uppercase;
            font-weight: bold;
        }
        p{
            font-family: 'Nunito', sans-serif;
            font-size: 1.5rem;
            line-height: 1.5;
            padding-top: 1%; 
           
    }
}

.button{
    background: #2a2f4a;
    border: 2px solid white;
    margin: 2%;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    padding: 0.5%;
    color: white;
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}