footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #363b59;
    @media @phone{
        margin-top: 3%;
    }
    p{
        color: white;
        font-family: 'Bitter', serif;
        padding: 1%;
    }
    div{
        width: 100%;
        text-align: center;
        padding: 2%;
    }
}