html{
    font-size: 62.5%;
}

#navbar{
    // border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    background: paleturquoise;
    @media @phone {
        flex-direction: column;
    }
    h1{
        margin: 2%;
        font-family: 'Charmonman', cursive;
        font-size: 3rem;
        @media @phone {
            padding-top: 2%;
        }
    }
    .nav-tags{
        width: 50%;
        @media @phone {
            display: flex;
            flex-direction: column;
            width:100%;
        }
    }
    a{
        width: 100%;
        text-decoration: none;
        color: black;
        text-align: center;
        font-family: 'Bitter', serif;
        padding: 50px;
        @media @phone {
            padding:1%;
        }
    }
    a:hover{
        background: black;
        color: white;
    }
    .button{
        background: paleturquoise;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 3%;
        font-family: 'Bitter', serif;
        @media @phone {
            padding: 0;
            text-align: center;
        }
    }
}//closes nav

